body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

div {
    padding: 0px;
    margin: 0px;
}

h1 {
    color: #333;
}

h1 a {
    font-weight: normal;
    font-size: 14px;
}

.wrapper {
    width: 640px;
    margin: auto;
}

.wrapper h1 {
    text-align: center;
}

.content_wrapper {
    margin: 0 auto;
    width: 360px;
}

#drag-and-drop-zone {
/*    display: none;*/
    text-align: center;
    font-size: 24px;
    cursor: pointer;    
}
/*
 * Widget
 */

.uploader {
    position: relative;
    overflow: hidden;
    background-color: #FFBF00;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px dotted black;
}

.uploader span {
    position: absolute;
    top: 40%;
    left: 0;
    bottom: 0;
    right: 0;
}

.uploader input {
    border: solid transparent;
    border-width: 0 0 480px 120px;
    opacity: .0;
    filter: alpha(opacity=0);
    direction: ltr;
    cursor: pointer;
}

.uploader:hover {
/*    background-color: darkorange;*/
    margin: -2px;
    font-size: 18px;
    box-shadow: 10px 10px 50px darkgray;
}

#upload-progress-zone {
    display: none;    
    position: relative;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    height: 480px;
    background-color: #FFBF00;
    color: white;   
    box-shadow: 10px 10px 50px darkgray;
    border-radius: 3px;
    
/*    box-shadow: 2px 2px 2px #888888;*/
}

.progress {
    position: absolute;
    top: 30%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 10px ;
}

.progress .progress-bar-outer {
    border: solid 1px #C0C0C0;
    height: 20px;
    margin-top: 10px;
    padding: 2px 2px 0px 2px;
    border-radius: 3px;
}

.progress .progress-bar-inner {
    height: 18px;
    background-color: #5a7bc2;
    border-radius: 3px;
}

#upload-result-zone {
    display: none;
    border: 2px dotted #A5A5C7;
    width: 100%;
    color: #92AAB0;
    text-align: center;
    vertical-align: middle;
    padding: 40px 0px;
    margin-bottom: 10px;
    font-size: 24px;
    cursor: default;
}

#image-qrcode {
    width: 200px;
    height: 200px;
    margin: 20px auto 0px auto;
}


/* Debug */

#debug {
    clear: both;
    padding-top: 15px;
    color: #333;
}

#debug h2 {
    margin: 0px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    color: #333;
}

#debug div {
    height: 150px;
    width: 100%;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

#debug ul {
    padding: 0px 0px 0px 20px;
    font-size: 12px;
}

#debug li {
    padding: 0px;
    margin: 0px 0px 7px 0px;
}
